<h3>生徒情報一覧</h3>

<div>
<%= form_tag(admin_students_path, method: "get") do %>
<%= label_tag :grade, "学年" %><%= text_field_tag :grade, params[:grade] %>
<%= submit_tag "検索" %>
<% end %>
</div>

<table>
  <thead>
    <tr>
      <th>学籍番号</th>
      <th>学年</th>
      <th>名前</th>
      <th>性別</th>
      <th>編集</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.student_code %></td>
        <td><%= student.grade %></td>
        <td><%= student.name %></td>
        <td><%= student.alias %></td>
        <td><%= link_to "編集", [:edit_admin, student] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "生徒新規登録", :new_admin_student %></p>

<%= paginate @students %>